<div class="container">
  <div class="font-weight-bold h2 mt-5 mb-5 text-center">
    商品編集
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
      <table class="table table-borderless">
    <tr>
  <td>商品画像</td>
<td><%= f.file_field :image, accept: "image/*" %></td>
  </tr>
    <tr>
  <td>商品名</td>
<td><%= f.text_field :name %></td>
  </tr>
    <tr>
  <td>商品説明</td>
<td><%= f.text_area :introduction, :size => "30x5"%></td>
  </tr>
    <tr>
  <td>税抜価格</td>
<td><%= f.text_field :price, :placeholder => "1000" %>円</td>
  </tr>
   <tr>
<td>販売ステータス</td>
  <td>
    <% @item.is_active %>
  <%= f.radio_button :is_active, :true %>
    販売中
      <%= f.radio_button :is_active, :false %>
    販売停止中
  </td>
    </tr>
      </div>
        </table>
      <div class="text-center">
    <%= f.submit "変更を保存", class: "btn btn-lg btn-success"  %>
  </div>
    <% end %>
      </div>