<div class="container">
  <div class="text-center">
    <div class="font-weight-bold h2 mt-5 mb-5">
    商品新規登録
    </div>
  </div>
  <div class="row justify-content-center">
  <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
<table class="table table-borderless">
  <tr>
    <td>商品画像</td>
     <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
   <tr>
<td>商品名</td>
  <td><%= f.text_field :name %></td>
   </tr>
     <tr>
      <td>商品説明</td>
    <td><%= f.text_area :introduction, :size => "30x5"%></td>
   </tr>
    <tr>
     <td>税抜価格</td>
    <td><%= f.text_field :price, :placeholder => "1000" %>円</td>
   </tr>
  <tr>
<td>販売ステータス</td>
  <td><%= f.radio_button :is_active, :true %>
    <label>販売中</label>
      <%= f.radio_button :is_active, :false %>
    <label>販売停止中</label>
   </td>
  </tr>
</table>
 <div class="text-center">
  <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
   </div>
    </div>
    <% end %>
  </div>


