<div class="container">
  <div class="text-center">
    <div class="font-weight-bold h3 mt-5 mb-5">ログイン</div>
    </div>
    <%= form_with model: @admin, url: admin_session_path, method: :post do |f| %>
      <div class="form-group row">
        <div class="col-md-5 text-right px-5">メールアドレス</div>
          <div class="col-md-5">
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-50" %>
            </div>
          </div>
      </div>
    <div class="form-group row">
      <div class="col-md-5 text-right px-5">パスワード</div>
        <div class="col-md-5">
          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password", class: "w-50" %>
          </div>
        </div>
      </div>
    <div class="text-center">
      <div class="actions mt-5">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
</div>
<%= render "admin/shared/links" %>
