<div class="container">
  <div class="text-center">
    <div class="font-weight-bold h2 mt-5 mb-5">
    Log in
    </div>
    <div class="row justify-content-center">
    <%= form_with model: @customer, url: customer_session_path(@customer) do |f| %>
      <table class="table table-borderless">
      <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, class: "w-100", autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, class: "w-100", autocomplete: "current-password" %></td>
      </tr>
        </table>
        <div class="text-center">
          <%= f.submit "ログイン", class: "btn btn-lg btn-primary" %>
        </div>

    <% end %>
    </div>
  </div>
</div>