<!DOCTYPE html>
<html>
  <head>
    <title>TheCosmetic</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card1">
          <img class="card-img" src="/assets/pink.jpg" alt="">
           <div class="card-img-overlay">
            <div class="display-2">The Cosmetic</p>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
<%= link_to "Guest Login", users_guest_sign_in_path, method: :post, class: "text-decoration-none text-secondary mr-5" %>
  </div>
    <div class="text-center mt-5 mb-5">
      <% if admin_signed_in? %>
        <div class="menu">
          <%= link_to "商品一覧", admin_items_path, class: "text-decoration-none text-secondary　mr-5" %>
          <%= link_to "会員一覧", admin_customers_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to "注文履歴一覧", admin_root_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "text-decoration-none text-secondary mr-5" %>
        </div>
      <% elsif customer_signed_in? %>
        <div class="menu">
          <%= link_to "マイページ", customers_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to "商品一覧", items_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to "カート", cart_items_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "text-decoration-none text-secondary mr-5" %>
        </div>
      <% else %>
        <div class="menu">
          <%= link_to "About", about_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to "Items", items_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to "Sign up", new_customer_registration_path, class: "text-decoration-none text-secondary mr-5" %>
          <%= link_to "Log in", new_customer_session_path, class: "text-decoration-none text-secondary mr-5" %>
        </div>
      <% end %>
    </div>
</header>
<body>
<%= yield %>
</body>
  <footer class="border-top mt-5 mb-5">

  </footer>
</html>
